{% load static %}
<!-- ****** New Arrivals Area Start ****** -->
<section class="new_arrivals_area section_padding_100_0 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>Yenİ Gelen KİTAPLAR</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row karl-new-arrivals">
            {% for rs in dayproduct %}

                <!-- Single gallery Item Start -->
                <div class="col-12 col-sm-6 col-md-4 single_gallery_item women wow fadeInUpBig" data-wow-delay="0.2s">
                    <!-- Product Image -->
                    <div class="product-img">
                        <img src="{{ rs.image.url }}" alt="" style="height: 250px">
                        <div class="product-quicview">
                            <a href="/kitap/{{ rs.id }}/{{ rs.slug }}" data-target="#quickview"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                    <!-- Product Description -->
                    <div class="product-description">
                        <h4 class="product-price">Fiyat {{ rs.fiyat }}</h4>
                        <a href="/kitap/{{ rs.id }}/{{ rs.slug }}"><p>{{ rs.title }}</p></a>
                        <!-- Add to Cart -->
                        <a href="/addtochart/{{ rs.id }}" class="add-to-cart-btn">SEPETE EKLE</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="new_arrivals_area section_padding_100_0 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>Son Eklenen Kİtaplar</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
         <div class="row karl-new-arrivals">
            {% for rs in lastproduct %}

                <!-- Single gallery Item Start -->
                <div class="col-12 col-sm-6 col-md-4 single_gallery_item women wow fadeInUpBig" data-wow-delay="0.2s">
                    <!-- Product Image -->
                    <div class="product-img">
                        <img src="{{ rs.image.url }}" alt="" style="height: 250px">
                        <div class="product-quicview">
                            <a href="/kitap/{{ rs.id }}/{{ rs.slug }}" data-target="#quickview"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                    <!-- Product Description -->
                    <div class="product-description">
                        <h4 class="product-price">Fiyat: {{ rs.fiyat }}</h4>
                        <a href="/kitap/{{ rs.id }}/{{ rs.slug }}"><p>{{ rs.title }}</p></a>
                        <!-- Add to Cart -->
                        <a href="/addtochart/{{ rs.id }}" class="add-to-cart-btn">SEPETE EKLE</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ****** New Arrivals Area End ****** -->
<section class="new_arrivals_area section_padding_100_0 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>Senİn İçin Önerİlen KİTAPLAR</h2>
                    <a href="/kitap/{{ rs.id }}/{{ rs.slug }}"><p>{{ rs.title }}</p></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
         <div class="row karl-new-arrivals">
            {% for rs in randomproduct %}

                <!-- Single gallery Item Start -->
                <div class="col-12 col-sm-6 col-md-4 single_gallery_item women wow fadeInUpBig" data-wow-delay="0.2s">
                    <!-- Product Image -->
                    <div class="product-img">
                        <img src="{{ rs.image.url }}" alt="" style="height: 250px">
                        <div class="product-quicview">
                            <a href="/kitap/{{ rs.id }}/{{ rs.slug }}" data-target="#quickview"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                    <!-- Product Description -->
                    <div class="product-description">
                        <h4 class="product-price">Fiyat: {{ rs.fiyat }}</h4>
                        <a href="/kitap/{{ rs.id }}/{{ rs.slug }}"><p>{{ rs.title }}</p></a>
                        <!-- Add to Cart -->
                        <a href="/order/addtocart/{{rs.id}}" class="add-to-cart-btn">SEPETE EKLE</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ****** New Arrivals Area End ****** -->
<!-- ****** Offer Area Start ****** -->

        <!-- ****** Offer Area Start ****** -->
        <section class="offer_area height-700 section_padding_100 bg-img" style="background-image: url({% static 'img/bg-img/header.jpg' %});">
            <div class="container h-100">

                <div class="row h-100 align-items-end justify-content-end">


                    <div class="col-12 col-md-8 col-lg-6">

                        <div class="offer-content-area wow fadeInUp" data-wow-delay="1s">

                            <h2>{{rs.title}} <span class="karl-level">Hot</span></h2>
                            <p>* Free shipping until 25 Dec 2017</p>
                            {% for rs in randomproduct %}
                            <div class="offer-product-price">
                                <h3><span class="regular-price">Fiyat Eski: {{ rs.fiyat }}</span> {{ rs.fiyat }}</h3>
                            </div>
                            {% endfor %}
                            <a href="/" class="btn karl-btn mt-30">HEMEN AL</a>

                        </div>

                    </div>

                </div>
            </div>
        </section>


<!-- ****** Offer Area End ****** -->