{% load static %}


<header class="header_area bg-img background-overlay-white" style="background-image: url({% static 'img/bg-img/header.jpg' %});">
    <!-- ****** Header Area Start ****** -->
    <header class="header_area">
        <!-- Top Header Area Start -->
        <div class="top_header_area">
            <div class="container h-100">
                <div>
                    <div class="header-social-area col-12 col-lg-7">
                        <a href="#"><span class="karl-level">Share</span> <i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>

                    <div class="row h-100 align-items-center justify-content-end">
                        <div class="col-12 col-lg-7">
                            <div class="top_single_area d-flex align-items-center">
                                <!-- Logo Area -->
                                <div class="top_logo">
                                    <a href="#"><img src="{% static 'img/core-img/19888947.png' %}" alt=""></a>
                                </div>
                                <!-- Cart & Menu Area -->
                                <div class="header-cart-menu d-flex align-items-center ml-auto">
                                    <!-- Cart Area -->
                                    <div class="cart">
                                        <a href="/shopcart/" id="header-cart-btn" target="_blank"><span class="cart_quantity">{{ request.session.cart_items }}</span> <i class="ti-bag"></i> Sepetteki Total {{total}} TL</a>
                                        <!-- Cart List Area Start -->

                                    </div>
                                    <div class="header-right-side-menu ml-15">
                                        <a href="#" id="sideMenuBtn"><i class="ti-menu" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

            $(function() {
                $("#query").autocomplete({
                    source: "/search_auto/",
                    select: function (event, ui) { //item selected
                        AutoCompleteSelectHandler(event, ui)
                    },
                    minLength: 2,
                });
            });

            function AutoCompleteSelectHandler(event, ui)
            {
                var selectedObj = ui.item;
            }

        </script>
        <!-- Top Header Area End -->
        <div class="main_header_area col-12">
            <div class="container h-100 col-11">
                <div class="row h-100 ">
                    <div class="col-12  d-md-flex justify-content-between">
                        <!-- Header Social Area -->


                        <div class="coupon-code-area mt-0 col-4 ">
                            <form action="/search/" method="post">
                                {% csrf_token %}
                                <input id="query" type="text" name="query" placeholder="Enter Your Keyword"class="input search-input">

                                {% load mptt_tags %}
                                <select name="catid" class="input search-categories">
                                    <option value="0">category</option>
                                {% recursetree category %}
                                    {% if node.is_leaf_node %}<option value="{{ node.id }}">{{ node.title }}</option>{% endif %}
                                    {% if not node.is_leaf_node %}
                                    <optgroup label="{{ node.title}}">
                                        {{ children }}
                                    </optgroup>
                                    {% endif %}
                                    {% endrecursetree %}
                                </select>
                                <button class="search-btn">Ara</button>
                            </form>
                        </div>

                        <!-- Menu Area -->
                        <div class="main-menu-area col-12 col-lg-7"  >
                            <nav class="navbar navbar-expand-lg align-items-start">

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                                <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                    <ul class="navbar-nav animated" id="nav">
                                        <a class="list-group-item" href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="karlDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <div class="dropdown-menu" aria-labelledby="karlDropdown">
                                                <a class="list-group-item" href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
                                                <a class="list-group-item" href="products.html"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; kitaplarim </a>
                                                <a class="list-group-item" href="product-details.html"><i class="fa fa-product-hunt" aria-hidden="true"></i>&nbsp;Details</a>
                                                <a class="dropdown-item" href="cart.html">Cart</a>
                                                <a class="dropdown-item" href="checkout.html">Checkout</a>
                                            </div>
                                        </li>
                                        <a class="list-group-item" href="/hakkimizda"><i class="fa fa-address-card-o" aria-hidden="true"></i>&nbsp; Hakkimizda</a>
                                        <li class="nav-item"><a class="nav-link" href="/referanslar">Referanslar</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/iletisim">İletİşİm</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Help Line -->
                        <div class="col-sm-2">
                            {% if user.id is not None %}

                            <ul class="navbar-nav animated" id="nav">


                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="karlDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true">{{user.first_name}}</image></i> </a>


                                    <div class="dropdown-menu" aria-labelledby="karlDropdown">
                                        <a class="dropdown-item" href="/">{{user.username}}</a>
                                        <a class="dropdown-item" href="/user">My Account</a>
                                        <a class="dropdown-item" href="#">Urunlerim</a>
                                        <a class="dropdown-item" href="#">Kitap_Detay</a>
                                        <a class="dropdown-item" href="/login">LOG IN</a>
                                        <a class="dropdown-item" href="/logout">LOG OUT</a>
                                    </div>
                                </li>
                                {% else %}
                                <li class="nav-item active"><a class="nav-link" href="/login/"><i class="fa fa-lock" aria-hidden="true"> Login</i></a></li>
                                <li class="nav-item active"><a class="nav-link" href="/signup/"><i class="fa fa-pencil-square" aria-hidden="true">Sign Up</i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</header>
<!-- ****** Header Area End ****** -->
