{% extends "homebase.html" %}
{% block title %}İletişim-{{ setting.company }} {% endblock %}
{% block keywords %}{{ setting.keywords }} {% endblock %}
{% block description %}{{ setting.description }}  {% endblock %}

{% block head %}<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />{% endblock %}
{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}


{% block content %}
    <div class="breadcumb_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb d-flex align-items-center">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="/iletisim">İletişim</a></li>
                    </ol>
                    <!-- btn -->
                </div>
            </div>
        </div>
    </div>

    <section class="single_product_details_area section_padding_0_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-15 mb-3">
                                <h3>İletişim Formu</h3>
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="form-group mt-3">
                                    <input type="submit" class="btn karl-checkout-btn" value="SEND FORM"></input>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                    <div class="col-12 col-md-6">
                        <div><h2>İletişim</h2></div>
                            {{setting.contact|safe}}
                    </div>
                </div>
                </div>

    </section>
{% endblock %}
