{% extends "homebase.html" %}
{% block title %}{{ product.title }} {% endblock %}
{% block keywords %}{{ product.keywords }} {% endblock %}
{% block description %}{{ product.description }}  {% endblock %}

{% block head %}<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />{% endblock %}
{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}


{% block content %}
    <div class="breadcumb_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb d-flex align-items-center">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="/category/{{product.category_id}}/{{product.category.slug}}">{{product.category}}</a></li>
                        <li class="breadcrumb-item active">{{product.title}}</li>
                    </ol>
                    <!-- btn --> <a href="/category/{{product.category_id}}/{{product.category.slug}}" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Back to Category</a>
                </div>
            </div>
        </div>
    </div>
        <section class="single_product_details_area section_padding_0_100">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-md-6">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{product.image.url}});">
                                </li>
                                {% for rs in images %}
                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url({{rs.image.url}});">
                                    </li>
                                {% endfor %}

                                </ol>

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="{{product.image.url}}">
                                            <img class="d-block w-100" src="{{product.image.url}}" alt="First slide" style="height: 500px">
                                        </a>
                                    </div>

                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{{product.image.url}}">
                                        <img class="d-block w-100" src="{{product.image.url}}" alt="First slide" style="height: 500px">
                                    </a>
                                    </div>
                                    {% for rs in images %}
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{{rs.image.url}}">
                                        <img class="d-block w-100" src="{{rs.image.url}}" alt="Second slide" style="weight: 200 height: 500">
                                    </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="single_product_desc">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" roles="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}

                            <h4 class="title">{{product.title}}</h4>

                            <h4 class="price">Fiyat:{{product.fiyat}}</h4>

                            <p class="available">Available: <span class="text-muted">{{ product.description | safe }}</span></p>
                            <p class="brand">Brand:{{ setting.company }} </p>
                            <p class="brand">STOK:{{ product.stok_durum }} </p>
                            <p class="brand">YAYIN EVI:{{ product.yayinevi }} </p>
                            <p class="brand">YAZAR:{{ product.yazar }} </p>
                            <p class="brand">BASIM YILI:{{ product.basim_yili }} </p>


                            <div class="single_product_ratings mb-15">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>



                            <!-- Add to Cart Form -->
                            <form action="/order/addtocart/{{product.id}}" class="cart clearfix mb-50 d-flex" method="post">

                                <div class="quantity">
                                    {% csrf_token %}
                                    <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    <input type="number"  class="qty-text" id="qty" step="1" min="0" max="{{ product.stok_durum }}" name="quantity" value="1">
                                    <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                </div>
                                <button type="submit" name="addtocart" value="5" class="btn cart-submit d-block">SEPETE EKLE</button>
                            </form>

                            <div id="accordion" role="tablist">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h6 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Urun Bilgisi</a>
                                        </h6>
                                    </div>

                                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <p> {{ product.detail | safe }} </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">REWIW</a>
                                        </h6>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="checkout_area section_padding_100">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12 col-md-6">

                                                        <div class="cart-page-heading">
                                                            <h5>Yorum Yazınız</h5>
                                                        </div>
                                                        {% if messages %}
                                                        {% for message in messages %}
                                                        <div class="alert alert-warning{{ message.tags }}" roles="alert">
                                                            {{ message }}
                                                        </div>
                                                        {% endfor %}
                                                        {% endif %}

                                                        <form action="/kitap/addcomment/{{ product.id }}" method="post">
                                                            <div class="row">
                                                                {% csrf_token %}
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="subject">Subject <span>*</span></label>
                                                                    <input type="text" class="form-control" name="subject" id="id_subject"/>
                                                                </div>
                                                                <div class="col-md-10 mb-3">
                                                                    <label for="comment">Yorum <span>*</span></label>
                                                                    <textarea class="form-control h-75" name="comment" id="id_comment" ></textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-10 mb-3">
                                                                        <h5>Değerlendirme: </h5>
                                                                        <input type="radio" id="star1" name="rate" value="1"/> <label for="star1"></label>
                                                                        <input type="radio" id="star2" name="rate" value="2"/><label for="star2"></label>
                                                                        <input type="radio" id="star3" name="rate" value="3"/> <label for="star3"></label>
                                                                        <input type="radio" id="star4" name="rate" value="4"/><label for="star4"></label>
                                                                        <input type="radio" id="star5" name="rate" value="5"/><label for="star5"></label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-10 mb-5">
                                                                    {% if user.id is not None %}
                                                                    <button class="btn karl-checkout-btn">Gönder</button>
                                                                    {% else %}
                                                                    Yorum eklemek için <a href="/login">giriş</a>  yapınız.
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class="col-12 col-md-6">
                                                        <div><h5>YORUMLAR</h5></div>
                                                        {% for rs in comments %}
                                                        <div class="single_product_desc">


                                                            <div><h4 class="title">{{ rs.users.first_name }}</h4>
                                                            </div>
                                                            <div><h9 class="title">{{ rs.created_at }}</h9>
                                                            </div>
                                                            <div class="single_product_ratings mb-15">
                                                                <i class="fa fa-star{% if rs.rate < 1 %}-o{% endif %}" aria-hidden="true"></i>
                                                                <i class="fa fa-star{% if rs.rate < 2 %}-o{% endif %}" aria-hidden="true"></i>
                                                                <i class="fa fa-star{% if rs.rate < 3 %}-o{% endif %}" aria-hidden="true"></i>
                                                                <i class="fa fa-star{% if rs.rate < 4 %}-o{% endif %}" aria-hidden="true"></i>
                                                                <i class="fa fa-star{% if rs.rate < 5 %}-o{% endif %}" aria-hidden="true"></i>
                                                            </div>
                                                            <div><h7 class="title">{{ rs.subject }}</h7>
                                                                <p>{{ rs.comment }}</p>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                        {% endfor %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}