{% extends "homebase.html" %}
{% block title %}{{ profile.user_name }} {% endblock %}
{% block keywords %}{{ setting.keywords }} {% endblock %}
{% block description %}{{ setting.description }}  {% endblock %}

{% block head %}<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}


{% block content %}
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb d-flex align-items-center">
                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a >User Profile update </a></li>
                </ol>
                <!-- btn -->
            </div>
        </div>
    </div>
</div>

<section class="single_product_details_area section_padding_0_100">
    <div class="container">
        <div class="row">
            <div class="col-3 col-md-3">
                <div class="row">
                    <div class="col-md-12 mb-5">
                        {% include "user_panel.html" %}

                    </div>
                </div>

            </div>


            <div class="col-12 col-md-9">
                <div class="section-title"><h3>CHANGE PASSWORD </h3></div>
                {% if messages %}
                    {% for message in messages %}
                        <div style="color: #d43f3a; font-size: medium ">
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                {% endif %}

                <form method="post" >
                    {% csrf_token %}

                    {% for field in form %}
                    <p>
                        {{field.label_tag}}<br>
                        {{field}}
                        {%if filed.help_text %}
                        <small style="color: grey">{{filed.help_text}}</small>
                        {% endif %}
                        {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    </p>
                    {%endfor%}
                    <div class="form-group">
                        <button class="btn btn_outline-info" type="submit">Save Changes</button>
                    </div>
                </form>

            </div>

        </div>
    </div>

</section>
{% endblock %}
